body {
  background-color: rgb(185, 185, 185);
}
a {
  color: rgb(80, 43, 9);
}
.App {
  max-width: 960;
  margin: 0 auto;
}

.App-header {
  font-size: 48px;
  font-weight: 700;
  text-align: center;
  margin-top: 30px;
}
.App-logo {
  max-width: 70px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.App footer {
  text-align: center;
  margin: 30px auto;
  font-size: 12px;
}
