.Dictionary h1 {
  font-size: 28px;
}
.Dictionary section {
  background-color: white;
  padding: 30px;
  border-radius: 6px;
  margin: 20px 0;
}
.Dictionary input {
  width: 100%;
  border: 1px solid rgba(167, 105, 48, 0.993);
  border-radius: 4px;
  padding: 5px 10px;
}
